/* Default styles for small screens */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Left column takes 2/3 of the width, right column takes 1/3 */
    gap: 2em;
    margin-bottom: 2em;
}

.left-column {
    padding: 1rem;
}

.right-column {
    padding: 1rem;
}

.card-col {
    width: 100%;
    height: 60vh;
    background-size: cover; /* This ensures the image covers the entire .card element */
    background-position: center;
    background-repeat: no-repeat; /* Prevents image repetition */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.card-col .content h2 {
    transform: translate(0%, 200%);
    font-weight: normal;
    transition: transform 0.5s ease; /* Add a transition for smooth hover effect */
}

.card-col .content:hover h1 {
    transform: translate(0%, 300%);
    font-weight: normal;
}


.card-col:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 1;
}

@media only screen and (min-width: 22.5em) {
    .container {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 2em 2em 0em 2em;
    }
    .container-full {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 2em 2em 0em 2em;
    }
}
@media only screen and (min-width: 48em) {
    .container {
        grid-template-columns: 2fr 1fr; /* Left column takes 2/3 of the width, right column takes 1/3 */
        margin: 0em 6em 2em 6em;
    }
    .container-full {
        grid-template-columns: 1fr; /* Single column by default */
        margin: 0em 6em 2em 6em;
    }

}

